/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

/*---------------------------------------------*/
a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #111111;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 1.7;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt {
  font-size: 20px;
  color: #333333;
  line-height: 1.2;
}

.bold {
  font-weight : 700px;
}

/*---------------------------------------------*/
.profile-account {
	text-align: center;
}

.profile-image {
	width : 100px;
	border-radius : 50%;
}

.profile-info {
	margin: 0px;
	padding-top : 20px;
	padding-bottom : 20px;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;  
  min-height: 95vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
}

.wrap-login {
  width: 320px;
  background: transparent;
  border-radius: 0px;
  padding-top : 30px;
  padding-bottom : 30px;
}

.login-form-title {
  font-size: 30px;
  color: #43383e;
  line-height: 1.2;
  text-align: center;
  padding-bottom : 30px;
  display: block;
}


/*------------------------------------------------------------------
[ Button Login with ]*/

.btn {
  font-size: 16px;
  color: #444;
  line-height: 1.2;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border : 2px solid #eaedee;
  font-weight: bold;
  font-size: 14px;
}

.btn i {
  font-size: 20px;
  margin-right: 10px;
}


/*//////////////////////////////////////////////////////////////////
[ Google Sign in Button ]*/

#customBtn:hover {
	cursor: pointer;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.icon {
    background: url('../images/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
}

/*//////////////////////////////////////////////////////////////////
[ Footer ]*/

#footer {
	width: 100%;  
	min-height: 5vh;
	text-align : center;
	vertical-align : middle;
	font-size : 12px;
	color : #666;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 576px) {
  .wrap-login {
    padding-top: 20px
  }
  
  #footer {
	font-size : 8px;
    }
}